<%- include('../user/Userheader') %>

<h2> <%= job.title %></h2>
<div>
<div>
    salary: <%= job.salary %>
</div>
<div>
    orgnization: <%= job.orgnization %>
</div>
<div>
    description: <%= job.description %>
</div>
<div>
    timeType: <%= job.timeType %>
</div>

<div>
    location: <%= job.location %>
</div>

<a href="/applicant/applyJob?id=<%= job._id %>">Apply</a>
</div>