<h1>Jobs</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Salary</th>
        <th>orgnization</th>
        <th>description</th>
        <th>timeType</th>
        <th>location</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <% jobs.forEach(function(job) { %>
        <tr>
            <td><%= job.title %>  </td>
            <td> <%= job.Salary %> </td>
            <td> <%= job.orgnization %> </td>
            <td> <%= job.description %> </td>
            <td> <%= job.timeType %> </td>
            <td> <%= job.location %> </td>
        </td>
    </tr>
    <% }) %>
  

</table>